<h1>Listing notification_types</h1>
<hr>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-toolbox">
    <div class="panel-toolbar">
      <%= link_to new_notification_type_path, class: "btn btn-primary", data: { tooltip: 'tooltip' }, title: "New Notification type" do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    </div>    
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
                      <th>Name</th>
                      <th>Template</th>
                  </tr>
      </thead>

      <tbody>
        <% @notification_types.each do |notification_type| %>
          <tr>
                              <td><%= link_to notification_type.name, notification_type_path(notification_type) %></td>
                              <td><%= notification_type.template %></td>
                      </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer panel-footer-toolbox">
    <div class="panel-toolbar">
      <%= will_paginate @notification_types, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<br>
